@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
	color: white;
}

h2 {
	font-size: 1.75em;
	color: white;
}

h3 {
	font-size: 1.5em;
	color: white;
}

p {
	color: white;

}

.album-art {
	float: left;
	padding: 20px;
    box-sizing: border-box;
	margin-right: 20px;
	border: 2px solid rgb(110, 17, 17);
	width: 150px;
	height: 150px;
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	float: left;
	align-items: center;
	margin-right: 20px;
	border: 2px solid #990e0e;
	padding: 20px;
	box-sizing: border-box; 
	height: 200px;
	height: 200px;
	
}

.record-label {
	color: red;

}

.track-list {
color: white;
}

#about-photo {
	float: left;
	align-items: center;
	margin-right: 20px;
	border: 2px solid #990e0e;
	padding: 10px;
	box-sizing: border-box; 
}

#copyright {
	color: red;
	text-align: left;

}

#section-about, #section-discography, #section-equipment {
	background-color: black;
	margin: 20px;
	padding: 20px;
	border: 2px solid rgb(138, 18, 18);

}

#text-intro {
	background-color: rgb(68, 64, 64);
	margin: 20px;
	padding: 20px;
	border: 2px solid rgb(255, 0, 0); 
	color: red;

}